

body {
	& #dev-toolbar-root[data-hidden] {
		bottom: 0px;
	}

	&.development {
		padding: 10px;
	
		& *[data-devTools] {
			position: relative;
			outline: 3px dotted var(--colour, $purple);
			outline-offset: 0;
	
			&::before {
				content: '.' attr(data-devTools);
				display: block;
				position: absolute;
				z-index: 50;
				top: 0;
				left: var(--left, 10%);
				padding: 5px 10px;
				border-radius: 10px;
				background: $navy;
				color: $background;
				font-family: $font_code;
				font-size: 14px;
				font-weight: 400;
			}
	
			&:not(:hover) {
				&::before {
					content: normal;
				}
			}
	
			&[data-devTools="header"] {
				--colour: $pink;
	
				outline-offset: 3px;
			}
	
			&[data-devTools="menu"] {
				--colour: $green;
	
				outline-offset: 2px;
			}
	
			&[data-devTools="menu_item"] {
				--colour: $light_yellow;
				--left: 20%;
	
				outline-offset: -3px;
				outline-width: 2px;
			}

			&[data-devTools="sets"] {
				--colour: $blue;
			}

			&[data-devTools="card"] {
				--colour: $green;
			}
		}
	}
}