form {
	padding: 10px;
	font-size: 1.2em;

	& footer {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		margin: 1em -10px -10px;
		font-size: 0.7em;

		& button {
			margin: 10px;
		}
	}

	& button:not([type="submit"]) {

		@include button_secondary;
	}
}

label, legend {
	display: block;
	margin: 0.5em 0 0.1em;
	color: var(--neutral);
	font-weight: 600;
}

input, select, textarea {
	display: block;
	width: 100%;
	margin: 0.1em 0 0.5em;
	padding: 0.5em 1em;
	border: 1px solid var(--neutral);
	border-radius: none;
	background: var(--neutral_light);
	box-shadow: none;
	line-height: 1.5;
	accent-color: var(--purple_bright);

	&[type="range"] {
		margin: 0 auto;
		padding: 0;
		width: calc(100% - (20px * 2));
		border: none;
		background: none;
		accent-color: var(--purple_bright);

		& + datalist {
			display: grid;
			grid-template-columns: 10px repeat(auto-fit, minmax(10px, 1fr)) 10px;
			width: 100%;
			font-size: .6em;
			white-space: break-spaces;
			overflow-wrap: break-word;

			option {
				display: block;
				width: 100%;
				max-width: 100%;
				padding: 0;
				text-align: center;
				white-space: pre-wrap;

				&:first-child {
					grid-column: 2;
				}
			}
		}
	}
}