form {
	padding: 10px;
	font-size: 1.2em;

	& footer {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		margin: 1em -10px -10px;
		font-size: 0.7em;

		& button {
			margin: 10px;
		}
	}

	& button:not([type="submit"]) {

		@include button_secondary;
	}
}

label, legend {
	display: block;
	margin: 0.5em 0 0.1em;
	color: var(--neutral);
	font-weight: 600;
}

input, select, textarea {
	display: block;
	width: 100%;
	margin: 0.1em 0 0.5em;
	padding: 0.5em 1em;
	border: 1px solid var(--neutral);
	border-radius: none;
	background: var(--neutral_light);
	box-shadow: none;
	line-height: 1.5;
	accent-color: var(--purple_bright);

	&[type="range"] {
		padding: 0;
		border: none;
		background: none;
		accent-color: var(--purple_bright);

		& + datalist {
			width: 100%;
			font-size: .6em;
			white-space: break-spaces;
			overflow-wrap: break-word;

			& option {
				display: block;
				width: 100%;
				max-width: 100%;
				padding: 0;
				text-align: center;
				white-space: pre-wrap;

				&:first-child {
					grid-column: 2;
				}
			}
		}
	}
}

button {
	&[type="selectlist"] {
		padding: 0.5em;
		border-radius: 10px;
	}
}

selectlist {
	& listbox {
		padding: 5px;
		border-radius: 10px;
		border-width: 0;
	}

	& .options-container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
		grid-template-rows: repeat(auto-fit, 200px);
		gap: 5px;
	}

	& option, & selectedoption {
		text-align: center;
		font-weight: 600;
		height: 100%;
		border-radius: 10px;
		cursor: pointer;
		gap: 2px;
		line-height: 1;

		& img {
			width: 100%;
			display: block;
			height: 100%;
			object-fit: cover;
			overflow: hidden;
			border-radius: 10px;
		}
	}

	& option {
		padding: 5px;

		&:hover, &:focus {
			background: var(--purple_bright);
			color: var(--white);
		}

		&[hidden] {
			display: none;
		}
	}

	& selectedoption {
		max-width: 150px;
	}
}

body:not(.css_mode) {
	& input {
		&[type="range"] {
			margin: 0 auto;
			width: calc(100% - (20px * 2));
	
			& + datalist {
				display: grid;
				grid-template-columns: 10px repeat(auto-fit, minmax(10px, 1fr)) 10px;
	
				option {
					&:first-child {
						grid-column: 2;
					}
				}
			}
		}
	}

	& .range {
		display: grid;
		grid-template-columns: 1fr auto;
		grid-template-areas: 'range number' 'labels number';

		& input {
			&[type="number"] {
				grid-area: number;
			}

			&[type="range"] {
				grid-area: range;
			}
		}

		& datalist {
			grid-area: labels;
		}
	}

	& selectlist {	
		& .options-container {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
			grid-template-rows: repeat(auto-fit, 200px);
			gap: 5px;
		}
	
		& option, & selectedoption {
			display: grid;
			grid-template-rows: 1fr auto;
		}
	
		& option {
			padding: 5px;
	
			&:hover, &:focus {
				background: var(--purple_bright);
				color: var(--white);
			}
	
			&[hidden] {
				display: none;
			}
		}
	
		& selectedoption {
			max-width: 150px;
		}
	}
}