/* Turn on CSS Mode then write your CSS styles here */
/* New CSS */
input {
	&:invalid {
		border-color: #e53f51;
	}

	&:valid {
		border-color: #168119;
	}
}

nav {
	& a {
		&:focus {
			outline: 2px dotted chartreuse;
		}
	}
}


/* Flexbox */
/* Menu Items */


/* Cards/Sets */
