/* Turn on CSS Mode then write your CSS styles here */

.menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.sets {
	margin: -20px;
	display: flex;
	flex-wrap: wrap;
}

.sets .item {
	margin: 10px;
	max-width: 250px;
}

@supports(grid-template-areas: '.') {
	.sets {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
		grid-gap: 20px;
		margin: 0;
	}

	.sets .item {
		margin: 0;
		max-width: unset;
	}
}